@import '../../themes/theme';
@import '../../global';

.header-loading-bar {
  max-height: 30px;
}

.loading {
  min-height: 50px;
  padding-top: 50px;
}

.content-assets {
  max-height: calc(100% - 115px);
  margin-top: 5px;
}
