@import '../../themes/theme';

.sidenav-container {
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.sidenav-container md-sidenav {
  max-width: 200px;
}

.sidenav-container .mat-sidenav-content,
.sidenav-container md-sidenav {
  display: flex;
  overflow: visible;
}

.scrolling-content {
  overflow-y: scroll;
  padding: 5px 5px 5px 5px;
  max-height: calc(100% - 115px);
  margin-top: 5px;
}

.sidenav-header {
    width: 80px;
    padding-left: 74px;
}

.title-card {
  width: 280px;
  min-height: 280px;
  max-height: 280px;
  display: inline-block;
}

.title-header {
  background-size: cover;
}

md-card-content {
  overflow-y: hidden;
  max-height: 50px;
  min-height: 50px;
}

.mat-list-text {
  a {
    text-decoration: none;
  }
}

.sidebar-menu-text {
  position: relative;
  top: -5px;
}

.mat-list-item {
  &:hover {
    background-color: map-get($mat-blue-grey, 500);
  }
}

.mat-list-item-selected {
  border-left: 4px solid $accent-color;
  background-color: map-get($mat-blue-grey, 500);
}
