<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav mode="side" opened="false">
    <md-icon class="md-icon-logo sidenav-header" svgIcon="assets:ydam-logo">yDam</md-icon>
    <md-list>
      <md-list-item *ngFor="let item of menuItems" [ngClass]="{ 'mat-list-item-selected': selectedMenu==item.id }">
        <a [routerLink]="[item.id]" (click)="selectMenu(item.id)">
          <md-icon [ngClass]="{'tc-grey-200': true}">{{item.icon}}</md-icon>
          <span class="sidebar-menu-text">{{item.name}}</span>
        </a>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
