/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/all-theme';

$header_heigh: 60px;

// Temporary fix
.td-search-input {
   height: 71px;
}

// dark theme styles
.td-dialog-title {
  color: map-get($mat-grey, 300);
}

td-dialog-component {
  color: map-get($mat-grey, 300);
}
